RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
ErrorDocument 404 http://grade.printercloud.com.br/sx/error/404
ErrorDocument 501 http://grade.printercloud.com.br/sx/error/501